<div class="card">
    <div class="card-header card-header-info" style="padding:0%!important;background: #f44336;">
        <h2 class="card-title" style="text-align: center;"><b>Product Management</b></h2>
    </div><br><br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <div class="card-body table-responsive">
            <button  mat-raised-button color="accent"class="saveBtn" (click)="addNewCustomer()">Add New Product</button>
        </div>
    </div>
    </div>
    <div matSort *ngIf="!product_dataSource">
        No Data Found
  </div>
  
        <div class="mat-elevation-z8">
          <mat-progress-bar style="margin: auto;" mode="indeterminate" *ngIf="!product_dataSource" ></mat-progress-bar>
          <mat-table class="table-responsive" [dataSource]="product_dataSource" matSort>
            <ng-container matColumnDef="Warehouse">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Warehouse</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Warehouse :">{{row.Warehouse}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ProductImage">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Image</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="ProductImage :">{{row.ProductImage}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ProductId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Quantity :">{{row.ProductId}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ProductCategory">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Category</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="ProductCategory :">{{row.ProductCategory}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Customers">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Customer's</mat-header-cell>
                <!-- need button to view customers -->
              <mat-cell *matCellDef="let row" data-label="Customers :">{{row.Customers}}</mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Edit :"><button mat-button color="primary"
                  (click)="edit(row)">
                  <mat-icon style="color:black">edit</mat-icon>
                </button></mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Delete :"><button mat-button color="primary"
                  (click)="delete(row)">
            <mat-icon style="color:black;cursor: pointer;">delete_forever</mat-icon>
          </button></mat-cell>
        </ng-container>
            <mat-header-row *matHeaderRowDef="ProductDislayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ProductDislayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
        </div>
      </div>
  </div>