<div class="card">
    <div class="card-header card-header-info" style="padding:0%!important;background: #f44336;">
        <h2 class="card-title" style="text-align: center;"><b>Category Management</b></h2>
    </div><br><br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <div class="card-body table-responsive">
            <button  mat-raised-button color="accent"class="saveBtn" (click)="addNewCategory()">Add New Category</button>
        </div>
    </div>
    </div>
    <div matSort *ngIf="!category_dataSource">
        No Data Found
  </div>
  <!-- Category-name
Category-id
Select products

Select Users -->
        <div class="mat-elevation-z8">
          <mat-progress-bar style="margin: auto;" mode="indeterminate" *ngIf="!category_dataSource" ></mat-progress-bar>
          <mat-table class="table-responsive" [dataSource]="category_dataSource" matSort>
            <ng-container matColumnDef="Category-id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category id</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Category-id :">{{row.Category-id}}</mat-cell>
              </ng-container>
              
            <ng-container matColumnDef="Category-name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Category name</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Category-name :">{{row.Category-name}} </mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="Select_Users">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected Users</mat-header-cell>
              <!-- need a button to view -->
              <mat-cell *matCellDef="let row" data-label="Select_Users :">{{row.Select_Users}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Select_Products">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected Products</mat-header-cell>
                <!-- need a button to view -->
              <mat-cell *matCellDef="let row" data-label="Select_Products :">{{row.Select_Products}}</mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Edit :"><button mat-button color="primary"
                  (click)="edit(row)">
                  <mat-icon style="color:black">edit</mat-icon>
                </button></mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="Delete :"><button mat-button color="primary"
                  (click)="delete(row)">
            <mat-icon style="color:black;cursor: pointer;">delete_forever</mat-icon>
          </button></mat-cell>
        </ng-container>
            <mat-header-row *matHeaderRowDef="CategoryDislayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: CategoryDislayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
        </div>
      </div>
  </div>