// #login .container #login-row #login-column #login-box {
//     margin-top: 120px;
//     max-width: 600px;
//     height: 320px;
//     border: 1px solid #9C9C9C;
//     background-color: #EAEAEA;
//   }
//   #login .container #login-row #login-column #login-box #login-form {
//     padding: 20px;
//   }
//   #login .container #login-row #login-column #login-box #login-form #register-link {
//     margin-top: -85px;
//   }
// .Login{
//     background: white;
//     margin: 25%;
//     margin-top: 10%;
    
// }

.card{
    width: 35%!important;
    // margin: 20%!important;
    margin-left: 30%!important;
    margin-top: 10%;
}
.text-info {
    color: black !important;
}