<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div style="margin-bottom: 25px" class="card-header card-header-danger">
                           <h3 class="card-title ">Location</h3>
                           </div>


                          <h1>
                            
                          </h1>
                          <div>
                            <h2 style="margin-left: 120px;">Clinic Address:</h2>
                            <p style="margin-left: 100px;">
                              <AutocompleteComponent (setAddress)="getAddress($event)" addressType="geocode" id="homeAddress"></AutocompleteComponent>
                            </p>
                          
                            <!-- <b style="margin-left: 120px;">Address: </b> {{formattedAddress}} -->
                            <br><br>
                            <!-- <h2 style="margin-left: 120px;">Clinic Address:</h2> -->
                          
                            <!-- <p style="margin-left: 100px;">
                            <AutocompleteComponent (setAddress)="getEstablishmentAddress($event)" addressType="establishment" id="Clinic address"></AutocompleteComponent>
                            </p> -->
                            <!-- <b>Address:</b> {{formattedEstablishmentAddress}}
                            <br>
                            <b>Phone:</b> {{phone}} -->
                          
                          </div>